* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: red;
    border: 2px solid pink;
}

section {
    background-color: black;
    color: white;
    border: 5px dashed white;
}